[submodule "realwordapps/apache/src"]
	path = realwordapps/apache/src
	url = https://github.com/apache/httpd.git
[submodule "realwordapps/mysql/src"]
	path = realwordapps/mysql/src
	url = https://github.com/mysql/mysql-server.git
[submodule "realwordapps/memcached/src"]
	path = realwordapps/memcached/src
	url = https://github.com/memcached/memcached.git
[submodule "realwordapps/lulesh/LULESH"]
	path = realwordapps/lulesh/LULESH
	url = https://github.com/LLNL/LULESH.git
[submodule "realwordapps/lulesh/src"]
	path = realwordapps/lulesh/src
	url = https://github.com/LLNL/LULESH.git
[submodule "realwordapps/php/src"]
	path = realwordapps/php/src
	url = https://github.com/php/php-src.git
