[submodule "realwordapps/apache/src"]
	path = realworldapps/apache/src
	url = https://github.com/apache/httpd.git
[submodule "realwordapps/mysql/src"]
	path = realworldapps/mysql/src
	url = https://github.com/mysql/mysql-server.git
[submodule "realwordapps/memcached/src"]
	path = realworldapps/memcached/src
	url = https://github.com/memcached/memcached.git
[submodule "realwordapps/lulesh/LULESH"]
	path = realworldapps/lulesh/LULESH
	url = https://github.com/LLNL/LULESH.git
[submodule "realwordapps/lulesh/src"]
	path = realworldapps/lulesh/src
	url = https://github.com/LLNL/LULESH.git
[submodule "realwordapps/php/src"]
	path = realworldapps/php/src
	url = https://github.com/php/php-src.git
[submodule "realwordapps/sqlite/src"]
	path = realworldapps/sqlite/src
	url = https://github.com/sqlite/sqlite.git
[submodule "realworldapps/mysql/libs/boost"]
	path = realworldapps/mysql/libs/boost
	url = https://github.com/boostorg/boost.git
